/* 
  Copyright 2015 Drew Bryant and Patrick Lathan
*/
body{
  border: solid blue;
  margin: auto;
  width: 75%;
}
h1{
  color: blue;
}
header{
    margin-bottom: 0px;
    padding: 25px;
}

form{
  margin: auto;
  padding: 25px;
}
input[type="text"], input[type="number"]{
  margin-bottom: .5em;
  width: 35%;
}
label{
  float: left;
  margin-right: .5em;
  text-align: right;
  width: 10em;
}
footer{
  border-top: solid blue;
  margin: auto;
  padding: 25px;
}
.noshow{
  color: white;
}
.rwd{
  display: none;
}
@media only screen and (max-width: 399px){
  .rwd{
    display: block;
  }
  form{
    width: 90%;
  }
  input{
    text-align: left;
  }
}
